################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Ignore Visual Studio files
/.vs

# Ignore all binary output folders
**/obj/
**/bin/
**/node_modules/

# Ignore personal files
**/*.user

*
!*/
!/Talent.Common/Models/UserExperience.cs
!/Talent.Common/Services/FileService.cs

!/Talent.Services.Profile/Domain/Services/ProfileService.cs
!/Talent.Services.Profile/Domain/Contracts/IProfileService.cs
!/Talent.Services.Profile/Controllers/ProfileController.cs
!/Talent.Services.Profile/Models/Profile/ExperienceViewModel.cs

!/App/Talent.App.WebApp/wwwroot/js/react/ReactScripts/Profile/SocialMediaLinkedAccount.jsx
!/App/Talent.App.WebApp/wwwroot/js/react/ReactScripts/Profile/Location.jsx
!/App/Talent.App.WebApp/wwwroot/js/react/ReactScripts/Profile/SelfIntroduction.jsx
!/App/Talent.App.WebApp/wwwroot/js/react/ReactScripts/Profile/Language.jsx
!/App/Talent.App.WebApp/wwwroot/js/react/ReactScripts/Profile/Skill.jsx
!/App/Talent.App.WebApp/wwwroot/js/react/ReactScripts/Profile/ContactDetail.jsx
!/App/Talent.App.WebApp/wwwroot/js/react/ReactScripts/Profile/Experience.jsx
!/App/Talent.App.WebApp/wwwroot/js/react/ReactScripts/Profile/VisaStatus.jsx
!/App/Talent.App.WebApp/wwwroot/js/react/ReactScripts/Profile/TalentStatus.jsx
!/App/Talent.App.WebApp/wwwroot/js/react/ReactScripts/Profile/PhotoUpload.jsx
!/App/Talent.App.WebApp/wwwroot/js/react/ReactScripts/Profile/AccountProfile.jsx

!/App/Talent.App.WebApp/wwwroot/js/react/ReactScripts/TalentFeed/FollowingSuggestion.jsx

!/App/Talent.App.WebApp/wwwroot/js/react/ReactScripts/Form/Select.jsx
!/App/Talent.App.WebApp/wwwroot/js/react/ReactScripts/Form/SingleInput.jsx
!/App/Talent.App.WebApp/wwwroot/js/react/ReactScripts/Form/DatePicker.jsx

!/App/Talent.App.WebApp/wwwroot/js/react/ReactScripts/Table/EditableTable.jsx

