################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Ignore Visual Studio files
/.vs

# Ignore all binary output folders
**/obj/
**/bin/
**/node_modules/

# Ignore personal files
**/*.user

*
!*/
!/Talent.Services.Profile/Domain/Services/ProfileService.cs

!/App/Talent.App.WebApp/wwwroot/js/react/ReactScripts/Profile/SocialMediaLinkedAccount.jsx
!/App/Talent.App.WebApp/wwwroot/js/react/ReactScripts/Profile/Location.jsx
!/App/Talent.App.WebApp/wwwroot/js/react/ReactScripts/Profile/SelfIntroduction.jsx
!/App/Talent.App.WebApp/wwwroot/js/react/ReactScripts/Profile/Language.jsx
!/App/Talent.App.WebApp/wwwroot/js/react/ReactScripts/Profile/Skill.jsx

!/App/Talent.App.WebApp/wwwroot/js/react/ReactScripts/Form/Select.jsx
!/App/Talent.App.WebApp/wwwroot/js/react/ReactScripts/Form/SingleInput.jsx

!/App/Talent.App.WebApp/wwwroot/js/react/ReactScripts/Table/EditableTable.jsx

